.fs-big {
  font-size: 1.5rem;
}

.ta-start {
  text-align: start;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

/* flex layout */
.d-flex {
  display: flex;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
/* end flex layout */

/* grid laypout */
.grid {
  display: grid;
}

.grid-template-columns-2 {
  grid-template-columns: 1fr 5fr;
}

.grid-template-rows-3 {
  grid-template-rows: repeat(3, 1fr);
}

.gap-1 {
  grid-gap: 1em;
}

/* end grid laypout */

.link-img {
  width: 130px;
  transition: all 0.2s ease;
}

.link-img:hover {
  transform: translateY(-10px);
}
